body{
   overflow-x: hidden;
   margin: 0;
   padding: 0;
}


.parrotsimg{
   width: 100%;
   height: 300px;
}
/* .bg1{
   display: flex;
   gap: 20px;
   width: 100%;
}
.img1{
   width: 20%;
   height: 200px;
}
.img2{
   width:20%;
   height: 200px;
}

.img3{
   width:20%;
   height: 200px;
}
.img4{
   width:20%;
   height: 200px;
}
 */
 *{
   overflow-x: hidden;
   margin: 0;
   padding: 0;
}
.bg{
   width: 70%;
   margin-left: 200px;
   height: 400px;
}
.section1{
   background-color: rgb(171, 159, 159);
   padding: 0 60px;
}

.pets{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.pets div{
   /* width: 22%; */
   width: 300px;
}

.pet{
   /* padding-left: 20px; */
   padding-top: 20px;
   width: 100%;
   height: 200px;
   background-color: rgb(171, 159, 159);
}
input{
   width: 600px;
   height: 30px;
   line-height: 15px;
   border-radius: 30px;
}
.form1{
   display: flex;
   justify-content: center;
}
.prompt{
   text-align: center;
   line-height: 45px;
}
.orange{
   background-color: rgb(218, 152, 30);
}
a{
   text-decoration: none;
   color: black;
}
.pink{
   background-color: rgb(177, 100, 126);
}
.blue{
   background-color: rgb(11, 11, 101);
}
.bottomimg{
   width:100% ;
   height: 300px;
}
footer{
   background-color: rgb(244, 164, 15);
   
}

.fa-brands{
   font: 1.2em large;
   margin: 5px 5px;
 }
 .fa-brands:hover{
   color: blueviolet;
 }
nav{
   display: flex;
   justify-content: center;
   gap: 50px;
   font: 1.2em large;
}
.socials{
   display: flex;
   gap: 20pt;
/* height: 100px; */
justify-content: center;
font: 1.5em sans-serif;
/* width: 40%; */
margin-top: 20px;
}
.con{
   text-align: center;
 }

.foot{
   display: flex;
   /* gap: 60px; */
   width: 100%;
background-color: orangered;
justify-content: space-between;
}

.half{
   /* background-color: aquamarine; */
   width: 25%;
    padding: 20px 20px;
}
.parrot{
   width: 50%;
}
.parrot img{
   width: 100%;
}
.or{
   width: 25%;
   padding: 20px 20px;
   /* background-color: blue; */
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.or h4{
   color: white;
   
}