*{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
.bg{
    width: 100%;
    /* margin-left: 200px; */
    height: 400px;
}
.section1{
    background-color: rgb(171, 159, 159);
    padding: 0 60px;
}

.pets{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.pets div{
    /* width: 22%; */
    width: 300px;
}

.pet{
    /* padding-left: 20px; */
    padding-top: 20px;
    width: 100%;
    background-color: rgb(171, 159, 159);
}
.centreposition{
margin-left: 50%;
}
.circle1{
    background-color:rgb(228, 114, 8); 
    width: 30%;
    height: 200px;
    padding-top: 30px; 
      padding-left: 20px;
      border-radius: 50%;
      text-align: center;
      justify-content: center;

}
.bg2{
    display: flex;
    width: 100%;
    gap: 20px;
    /* margin-left: 200px; */
    height: 400px;
    background-color: rgb(223, 138, 11);
}
.circle2{
    background-color: rgb(210, 180, 116);
    width: 30%;
    height: 200px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
    margin-top: 120px;
    
}
.circle3{
    background-color:rgb(155, 75, 29);
    width: 30%;
    height: 200px;
    padding-top: 30px;
    padding-left: 20px;
    border-radius: 50%;
    text-align: centre;
    justify-content: centre;
}
/* .section3{
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    padding-right: 0px;
} */
 .bg1{
    width: 70%;
    margin-left: 200px;
    height: 400px;
}
/* 
.form{
    background-color: orange;
    display: flex;
    margin: 20 px 30px;
} */

nav{
    display: flex;
    justify-content: center;
    gap: 50px;
}
body{
    background-color: rgb(226, 149, 6);
}
 .centreposition1{
    text-align: center;
    justify-content: center;
    
 }
 .bbycircle{
    text-align: center;
    justify-content: center;
    width: 70%;
    /* padding-left: 50%; */
    padding: 10%;
 }
 .right{
    justify-content: end;
    margin-top: 200px;
 }
 .flexbox{
    width: 100%;
    height: 500px;
 }
 .biggerdiv{
    display: flex;
    gap: 20px;
 }
 input{

 width: 200px;
   height: 30px;
   line-height: 15px;

 }
.smalldiv2{
    
} 
/* form{
    line-height: 20px;
} */
   /* .space{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
   } */
   /* .space1{
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
   } */